.card {
  border: 1px solid #f3f3f3;
  padding: 20px;
  width: 210px;
  border-radius: 40px;
  margin-right: 30px;
  margin-bottom: 20px;
  transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;

  &:hover {
    box-shadow: 0px 14px 30px rgba($color: #000, $alpha: .06);
    transform: translateY(-5px);
  }

  .favourite {
    position: absolute;
    cursor: pointer;
  }

  span {
    font-size: 13px;
    opacity: .5;
    text-transform: uppercase;
  }

  b {
    font-size: 14px;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }
}