@use "sass:color";

body {
  margin: 0;
  font-family: "Inter", system-ui, 
  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e7f6ff;
}

body {
  h1 {
    span {
      color: blue;
    }
  }
}

* {
  font-family: "Inter", system-ui, 
  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
  background: #fff;
  box-shadow: 0px 10px 20px rgba($color: #000, $alpha: .4);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;
    img {
      margin-right: 15px;
    }

    h3, p {
      margin: 0;
    }

    ul {
      li {
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 15px;
        }
      }
      span {
        cursor: default;
      }
    }
}

.content {
  h1 {
    margin: 0;
  }
}

.button {
  background: #fff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.search-block {
  position: relative;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;

  .clear {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 13px;
    right: 15px;
  }

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}

.greenButton {
    position: relative;
    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background .1s ease-in-out;

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform .2s ease-in-out;
    }

    &:hover img {
      transform: translateX(10px);
    }

    &:hover {
      background: color.adjust(#9dd558, $lightness: 5%);
    }
    &:active {
      background: color.adjust(#9dd558, $lightness: -5%)
    }
}

.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}